.button {
  @include flex-center(true);

  cursor: pointer;
  user-select: none;

  border: none;
  border-radius: var(--border-radius-8);

  height: 40px;

  padding: 12px;

  color: var(--color-white);
  background-color: var(--color-red-45);

  &:active {
    scale: 1.01;
  }

  &:disabled {
    color: var(--color-gray-60);
    background-color: var(--color-black-06);

    pointer-events: none;
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-red-60);
  }
}
